[submodule "paik"]
	path = paik
	url = https://github.com/paiksunggum/com.paiksunggum.api.git
[submodule "www"]
	path = www
	url = https://github.com/paiksunggum/com.paiksunggum.www.git
[submodule "docs"]
	path = docs
	url = https://github.com/paiksunggum/com.paiksunggum.docs.git
