[submodule "paik"]
	path = paik
	url = https://github.com/paiksunggum/com.paiksunggum.api.git
[submodule "www"]
	path = www
	url = https://github.com/paiksunggum/com.paiksunggum.www.git
[submodule "vault"]
	path = vault
	url = https://github.com/paiksunggum/com.paiksunggum.vault.git
